---
import Header from "../components/header.astro";
import Footer from "../components/Footer.astro";
import WhatsAppButton from "../components/WhatsAppButton.astro";
import "../styles/global.css";
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Estudio Jurídico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <WhatsAppButton />
  </body>
</html>